{% extends 'plantilla/base.html' %}
{% block main %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Tipo usuarios</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'cpanel' %}">Home</a></li>
        <li class="breadcrumb-item active">Tipo usuarios</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tipo usuarios</h5>
            <button type="" class="btn btn-success"  data-bs-toggle="modal"
              data-bs-target="#myModaAgregar">Agregar tipo usuario</button>
              
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">CODIGO</th>
                    <th scope="col">Tipo usuario</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tipoUsuariosuario in tipoUsuariosuarios %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ tipoUsuariosuario.nombretipousuario }}</td>
                    <td>
                      <a type="button" id="btnEditar" class="btn" data-bs-toggle="modal" data-bs-target="#myModal2{{ tipoUsuariosuario.idtipousuario }}">
                        <i class="fa-solid fa-pen-to-square fa-2xl" style="color: #005eff;"></i>
                      </a>
                      <a href="{% url 'tipousuariosEliminar' id=tipoUsuariosuario.idtipousuario %}" class="eliminar">
                        <i class="fa-solid fa-trash fa-2xl" style="color: #f71b02;"></i>
                      </a>
                    </td>


                     <!-- Modales de editar -->
                     <div class="modal fade" id="myModal2{{ tipoUsuariosuario.idtipousuario }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Agregar tipo usuario</h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form  action="{% url 'tipousuariosEditar' %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="form-group">
                                <label for="nombreTipo"><strong>Nombre</strong></label>
                                <input type="text" name="nombreTipo" value="{{ tipoUsuariosuario.nombretipousuario }}" class="form-control">
                                <input type="hidden" name="idtipousuario" value="{{ tipoUsuariosuario.idtipousuario }}">
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-success btn-editar" >Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                      <!-- fin del modal editar -->
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              
             
              


            <!-- Modal de Agregar -->
            <div class="modal" id="myModaAgregar">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Cabecera del modal -->
                  <div class="modal-header">
                    <h4 class="modal-title">Agregar tipo usuario</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                  </div>

                  <!-- Contenido del modal De editar-->
                  <div class="modal-body">

                    <!-- inicio de form -->

                    <form  action="{% url 'tipousuariosAgregar' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <label for="nombreTipo">Nombre</label><br>
                      <input type="text" name="nombreTipo" class="form-control">
                      
                      <div style="display:flex; margin-left:140px;">
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-success" id="agregar">Agregar</button>
                          </div>
                          <div class="modal-footer">
                              <button type="button" id="btn-cerrar" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          </div>
                      </div>
                    </form>
                  

                  <!-- fin del form -->

                </div>

                <!-- Pie del modal -->

              </div>
            </div>

            <!-- Fin del modal agregar-->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% endblock %}